<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HTML Sudoku Board</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sudoku.css') }}" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <h1>HTML Sudoku Board</h1>

        <table id="grid">
            {% for number in data %}
                {% if (loop.index - 1) % 9 == 0 %}
                    <tr>
                {% endif %}
                    {% if number == 0 %}
                        <td><input id="cell-{{ loop.index - 1 }}"  type="text"></td>
                    {% else %}
                        <td><input id="cell-{{ loop.index - 1 }}"  type="text" value="{{ number }}" disabled></td>
                    {% endif %}
                {% if (loop.index) % 9 == 0 %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

    </div>

  </body>
</html>